// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  height: 100%;
}

// Body
$font-stack: 'Raleway', Arial, sans-serif;
$main-background: #444;
$main-color: #fffce1;

// Navigation
$hover-background: #E7E7E7;
$hover-text: #555;

body {
  background: $main-background;
  height: 100%;
  color: $main-color;
  font-family: $font-stack;
}

#wrapper {
  height: 100%;
}

.navbar-default .navbar-nav>li>a:hover {
  color: $hover-text;
  background-color: $hover-background;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

ul.footer-nav {
  padding:0;
  margin: 0;

  >li {
    display:inline-block;
    padding-right:5px;
  }
}

.footer-nav li::after {
  content: " |";
}

.footer-nav li:last-of-type::after {
  content: "";
}

p.copyright>span {
  color: #777;
}