<div class="container-fluid">
  <div class="row">
    Search: <input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
      <option value="name">Alphabetical</option>
      <option value="age">Newest</option>
    </select>
  </div>

  <div class="row">

    <ul class="segments">
      <li ng-repeat="segment in segments | filter:query | orderBy:orderProp"
          class="thumbnail segment-list">
        <a href="#/segments/{{segment.category}}">{{segment.title}}</a>
        <div>{{segment.subtitle}}</div>
        <p>{{segment.body}}</p>
      </li>
    </ul>

  </div>
</div>
