<div ng-controller="SegmentDetail">

	<div ng-if="token != ''">
		<div class="row">
		  <p>
		    <center style="color:red" ng-show="error">{{ error }}</center>
		    <center ng-show="message">{{ message }}</center>
		  </p>
		</div>
		<div class="row">
			<form role="form" ng-submit="processForm()">
				<div class="form-group">
				  <label for="titleInput">Title</label>
				  <input type="text" ng-model="segment.title" class="form-control" id="titleInput" placeholder="Title">
				</div>
				<div class="form-group">
				  <label for="subtitleInput">Subtitle</label>
				  <input type="text" ng-model="segment.subtitle" class="form-control" id="subtitleInput" placeholder="Subtitle (optional)">
				</div>
				<div class="form-group">
					<summernote config="options" ng-model="segment.body"></summernote>
				</div>

				<button type="submit" class="btn btn-default">Edit</button>
			</form>
		</div>
	</div>
	<div ng-if="token == ''">
		<h1>{{segment.title}}</h1>

		<p>{{segment.subtitle}}</p>

		<br>
		<br>
		<div ng-bind-html="segment.body | to_trusted"></div>
	</div>

</div>

