<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Umbrella Admin</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li class="hide"><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="./logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="/admin"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                {{ $categories := .menu }}
                {{ range $category := $categories }}
                    {{if eq $category.Parent 0 }}
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i>{{$category.Category}}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                {{ range $sub := $categories }}
                                    {{if eq $category.Id $sub.Parent }}
                                        <li>
                                            <a href="#">{{ $sub.Category }}<span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level">
                                                {{ if eq $sub.DiffBeginner 1 }}
                                                <li>
                                                    <a href="#">Beginner</a>
                                                </li>
                                                {{ end }}
                                                {{ if eq $sub.DiffAdvanced 1 }}
                                                <li>
                                                    <a href="#">Advanced</a>
                                                </li>
                                                {{ end }}
                                                {{ if eq $sub.DiffExpert 1 }}
                                                <li>
                                                    <a href="#">Expert</a>
                                                </li>
                                                {{ end }}
                                            </ul>
                                            <!-- /.nav-third-level -->
                                        </li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
